LuaForWindows_v5.1.5-52.exe filter=lfs diff=lfs merge=lfs -text
jdk-10.0.2_windows-x64_bin.exe filter=lfs diff=lfs merge=lfs -text
python-3.7.0-amd64.exe filter=lfs diff=lfs merge=lfs -text
full.exe filter=lfs diff=lfs merge=lfs -text
node-v8.12.0-x64.msi filter=lfs diff=lfs merge=lfs -text
