<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v2.1" sku=".NETCore,Version=v2.1"/>
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>

  <!--
  See the "system.diagnostics" element for more information on settings
  https://msdn.microsoft.com/en-us/library/1txedc80(v=vs.110).aspx 
  -->
  <system.diagnostics>
    <trace autoflush="true"></trace>
    <sources> <!-- The source is how we link this config to the code-->
      <!--Look for a TraceSource named DefaultSource. It is located in Logger.cs of 
          the Logger project. Link to TraceLevelSwitch, defined below-->
      <source name="Log" switchName="TraceLevelSwitch"> 
        <listeners>
          <!--The default listener typically goes to the debug window of a debugger.
              Uncomment to remove the listener -->
          <!--<remove name="Default"></remove>--> 
          <!--This is the type of Listener to add. It is the same name as one of the sharedListeners below. 
              To add another listener just uncomment below and change the name-->
          <add name="FILE_LISTENER"></add>
          <add name="CONSOLE_LISTENER"></add>
        </listeners>
      </source>
    </sources>
    <switches>
      <!-- value is the type of Trace we want. It can be "Information", "Error", "Warning", "Error, Warning"-->
      <add name="TraceLevelSwitch" value="Verbose"/> 
      <!-- value="" - all items for process will be logged. -->
      <add name="ShowTheseClasses" value=""/> 
    </switches>
    <sharedListeners> <!--The type of listener we want to use-->
      <!-- This listener will send output to an open console window.
           If for a Windows aplication then the messages written to the console are not displayed -->
      <add name="CONSOLE_LISTENER"
           type="System.Diagnostics.ConsoleTraceListener">
      </add>
      <!-- This listener will send output to the specified file -->
      <add name="FILE_LISTENER"
           type="System.Diagnostics.TextWriterTraceListener"
           initializeData="TheArena.txt">
      </add>
      <!-- This listener will send output to the "Event Viewer" (%windir%\system32\eventvwr.msc /s) 
           Open the "Event Viewer" and in left pane navigate to    Event Viewer (Local) >  Windows Logs  >  Application
           and look for a source of TheArenaSource -->
      <add name="EVENTVIEW_LISTENER"
         type="System.Diagnostics.EventLogTraceListener"
         initializeData="TheArenaSource">
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>